<!doctype html>
<html lang="en">
<head>
	<title>Help</title>
</head>
<body>
	<p>/insert/&lt;datetime&gt;/&lt;coords&gt;</p>
	insert values to database<br>
	format for datetime: "YYYY-MM-DD HH:MM:SS" (space can be swapped by 'T', see examples below)<br>
	format for coords: "1.12,2.21" (precision up to 8 digits after a point)<br>
	<p>/get[?from=datetime][&amp;to=datetime]</p>
	returns a list of all values from date1 to date2 in json format<br>
	<br>
	<h2>Examples</h2><br>
	<p>
	localhost for example urls should be replaced with server ip/domain on which api is hosted<br>
	http://localhost/api/insert/2021-10-17T15:44:00/20.12345678,30.12345678<br>
	http://localhost/api/get<br>
	</p>
</body>
</html>
